<ion-view title="Datenschutzerklärung"><ion-nav-buttons><button class="button button-icon" id="menu-toggleMenuBtn" ng-click="toggleMenu()"><i class="icon icomoon icomoon-menu"></i>
      <div class="chat-badge badge badge-light" ng-if="has_new_chat_messages">
        {{unread_messages_count}}
      </div>
    </button></ion-nav-buttons><ion-content class="light-bg padding-horizontal">
    <div class="accordion-intro border-stable-bottom">
      <p>
        Datenschutzerklärung für die Nutzung von GetSafe
      </p>
    </div>
    <accordion></accordion></ion-content></ion-view>
