<ion-modal-view ng-controller="TermsCtrl"><ion-header-bar align-title="left" class="bar-calm">
    <div class="buttons">
      <button class="button icon icomoon icomoon-cross" ng-click="closeTermsModal()"></button>
    </div>
    <h1 class="title">
      AGB
    </h1>
  </ion-header-bar><ion-content class="light-bg padding">
    <div class="accordion-intro border-stable-bottom">
      <p>
        Allgemeine Nutzungs- und Geschäftsbedingungen von GetSafe und getsafe.de
      </p>
    </div>
    <accordion></accordion></ion-content></ion-modal-view>
