<ion-modal-view ng-controller="PrivacyCtrl"><ion-header-bar align-title="left" class="bar-calm">
    <div class="buttons">
      <button class="button icon icomoon icomoon-cross" ng-click="closePrivacyModal()"></button>
    </div>
    <h1 class="title">
      Datenschutzerklärung
    </h1>
  </ion-header-bar><ion-content class="light-bg padding-horizontal">
    <div class="accordion-intro border-stable-bottom">
      <p>
        Datenschutzerklärung für die Nutzung von GetSafe
      </p>
    </div>
    <accordion></accordion></ion-content></ion-modal-view>
