<ion-view hide-nav-bar="true"><ion-content class="light-bg text-center padding-large-top">
    <h3 class="margin-none grey padding-top">
      Herzlich Wilkommen!
    </h3>
    <p class="push-notification-description">
      Willst du benachrichtigt werden über den Status deiner Versicherungen, Änderungen oder Kündigungsfristen?
    </p>
    <img class="push-notification-img" src="img/notification.png" />
    <div class="padding-large-bottom">
      <button class="button button-block button-calm button-cta" ng-click="requestPermission()">Ja, bitte benachrichtige mich</button><button class="button button-block button-cta grey-darker" ng-click="goToProducts()">Nein, danke</button>
    </div>
  </ion-content></ion-view>
