<ion-view cache-view="false" class="register-signature-modal" hide-nav-bar="true"><ion-header-bar class="bar-calm"><back-to-state-button class="flex" target-state="register-stepPersonalData"></back-to-state-button>
    <ul class="indicator" data-indicator-step="3">
      <li class="indicator-item-complete">
        Versicherungen
      </li>
      <li class="indicator-item-complete">
        Person
      </li>
      <li class="indicator-item-complete">
        Einverständnis
      </li>
    </ul>
  </ion-header-bar><ion-content class="light-bg padding">
    <h4 class="grey">
      Einverständnis
    </h4>
    <p class="padding-bottom">
      Damit du mit GetSafe deine Versicherungen verwalten kannst,
      bedarf es deiner Zustimmung durch dieses Maklermandat.
    </p>
    <a class="button button-cta button-block" ui-sref="register-stepPoa">Zum Maklermandat</a>
    <h4 class="grey padding-top">
      Vorteile auf einen Blick
    </h4>
    <ul class="list-ticks padding-bottom">
      <li>
        <strong>Sorglos: </strong>Du lehnst dich zurück, wir kümmern uns um den Import deiner Verträge.
      </li>
      <li>
        <strong>Gleicher Schutz: </strong>An deinen Versicherungen wird sich nichts ändern.
      </li>
      <li>
        <strong>Besserer Service: </strong>Deine GetSafe-Berater stehen dir jederzeit zur Seite.
      </li>
      <li class="padding-bottom">
        <strong>Kostenlos: </strong>Getsafe ist für dich völlig kostenfrei.
      </li>
    </ul>
  </ion-content><ion-footer-bar align-title="center" class="bar-calm"><a class="title button-cta" ui-sref="register-stepSignature">Zur Unterschrift</a></ion-footer-bar></ion-view>
