<ion-view cache-view="false" hide-nav-bar="true">
  <div class="guide-backdrop"></div>
  <ion-header-bar align-title="left" class="bar-calm bar bar-header disable-user-behavior">
    <div class="buttons buttons-left">
      <span class="left-buttons"><button class="button button-icon"><i class="icon icomoon icomoon-menu"></i></button></span>
    </div>
    <div class="title title-left">
      Versicherungen
    </div>
  </ion-header-bar><ion-content class="padding-horizontal">
    <h4 class="products-heading move-down-content">
      Aktuell
    </h4>
    <ion-list type="list-inset margin-none"><ion-item class="item-thumbnail-left item-product flex flex-content-center"><img ng-src="img/insurers/hansemerkur.png" />
        <h2>
          Gesetzliche Krankenversicherung
        </h2>
        <p>
          <small>Hanse Merkur - jährlich</small>
        </p>
        <div class="products-price">
          238,00
        </div>
      </ion-item></ion-list>
    <h4 class="products-heading">
      Wird Geprüft
    </h4>
    <ion-list type="list-inset margin-none"><ion-item class="item item-thumbnail-left item-product item-light flex flex-content-center"><img ng-src="img/insurers/axa.png" />
        <p>
          In Verarbeitung
        </p>
        <div class="item-progressbar" style="width: 80%;"></div>
        <p>
          <small>AXA - jährlich</small>
        </p>
      </ion-item><ion-item class="item item-thumbnail-left item-product item-light flex flex-content-center"><img ng-src="img/insurers/devk-logo.png" />
        <p>
          In Verarbeitung
        </p>
        <div class="item-progressbar" style="width: 40%;"></div>
        <p>
          <small>Devk - jährlich</small>
        </p>
      </ion-item></ion-list></ion-content></ion-view><ion-list class="guide-list" type="list-inset"><ion-item class="item-thumbnail-left item-product flex flex-content-center"><img ng-src="img/insurers/devk-logo.png" />
    <h2>
      Unfallversicherung
    </h2>
    <p>
      <small>DEVK - jährlich</small>
    </p>
    <div class="products-price">
      134,89
    </div>
  </ion-item>
  <div class="guide-tip-product-current">
    <img class="guide-tip-icon" src="img/icon-tip.png" />Hier findest du alle deine Versicherungen im Überblick
  </div>
</ion-list><button class="button button-calm button-cta button-block guide-cta" id="get-started" ng-click="nextStep()">Los geht's!</button><button class="button-delete-account" ng-click="confirmDelete()">Anmeldung löschen</button><a class="floating-button" ng-click="nextStep()"><i class="icomoon icomoon-plus"></i></a>
<div class="guide-tip-floating-button">
  Hier kannst du weitere Versicherungen hinzufügen um neue Angebote einholen<img class="guide-tip-icon" src="img/icon-tip.png" />
</div>
