<ion-view cache-view="false" title="{{title}}"><ion-nav-bar align-title="left" class="bar-calm"><ion-nav-back-button default-nav-back-button="" ng-click="leaveForm()"><i class="icon icomoon icomoon-chevron-left"></i></ion-nav-back-button></ion-nav-bar><ion-content class="light-bg text-center flex" scroll="false">
    <div class="padding flex flex-content-center flex-items-center">
      <img class="img-brand-icon" src="img/insurers/getsafe.png" />
      <p class="padding">
        {{content}}
      </p>
    </div>
  </ion-content></ion-view><ion-footer-bar align-title="center" class="bar-calm" keyboard-attach=""><a class="title button-cta" id="buy-product-consultation-questions-intro" ng-click="goToQuestions()">Weiter</a></ion-footer-bar>
