<ion-view cache-view="false" title="{{title}}"><ion-content class="light-bg padding-very-large-top text-center">
    <div class="padding padding-very-large-top">
      <i class="icomoon icomoon-check icon icon-very-large balanced"></i>
      <h4 class="grey padding-top">
        Vielen Dank für deine Anfrage!
      </h4>
      <p>
        {{content}}
      </p>
    </div>
  </ion-content></ion-view><ion-footer-bar align-title="center" class="bar-calm" keyboard-attach=""><a class="title button-cta" id="dynamic-form-confirmation" ng-click="confirmAnswers()">Zurück zur übersicht</a></ion-footer-bar>
