<ion-modal-view ng-controller="PoaCtrl"><ion-header-bar align-title="left" class="bar-calm">
    <h1 class="title">
      Maklervollmacht
    </h1>
  </ion-header-bar><ion-content class="padding-small">
    <div class="agreement-page">
      <p>
        Um deine Vertragsdaten abfragen und dich bei deinen Versicherungen
        betreuen zu können musst du GetSafe durch Unterzeichnen
        der Maklervollmacht als Ansprechpartner für deine Versicherungen
        bestätigen.
      </p>
      <p>
        Dazu bitten wir Dich das untenstehende Maklermandat auf
        der vorherigen Seite digital zu signieren. Was bedeutet
        das für Dich?
      </p>
      <ul>
        <li>
          Es verändert sich nichts an Deinem Versicherungsschutz.
        </li>
        <li>
          Durch GetSafe entstehen keine Mehrkosten.
        </li>
        <li>
          Du kannst das Maklermandat jederzeit widerrufen.
        </li>
        <li>
          GetSafe darf ohne Einwilligung keine Verträge für Dich abschließen.
        </li>
      </ul>
    </div>
    <div class="agreement-page">
      <h4>
        Maklermandat
      </h4>
      <p>
        zwischen
      </p>
      <p>
        dem Nutzer der GetSafe-App<br />- nachstehend "Mandant" genannt -<br />
      </p>
      <p>
        und
      </p>
      <p>
        Plan Forward GmbH<br />Bahnhofstr. 9-13<br />D-69115 Heidelberg<br /><br />Telefon: 06221 - 87100-87<br />Telefax: 06221 - 87100-88<br />E-Mail: kontakt@planfwd.de
      </p>
      <br />
      <p>
        Geschäftsführer: Christian Wiens, Marius Blaesing<br />Handelsregister: HRB 718171<br />Vermittlerregisternummer: D-4V95-B0VXG-67
      </p>
      <p>
        Erlaubnis nach § 34 d GewO erteilt durch die zuständige Aufsichtsbehörde:<br />Industrie- und Handelskammer Rhein-Neckar<br />L 1, 2, 68161 Mannheim
      </p>
      <p>
        als verantwortlicher Anbieter der GetSafe-App<br />- nachstehend "GetSafe" genannt –
      </p>
      <p>
        Der Mandant bevollmächtigt hierdurch GetSafe zur Betreuung seiner Versicherungsangelegenheiten sowie zur Vermittlung des vom Mandant gewollten Versicherungsschutzes. Diese Vollmacht umfasst insbesondere:
      </p>
      <ol>
        <li>
          die uneingeschränkte aktive und passive Vertretung des Mandanten gegenüber den jeweiligen Versicherern einschließlich der Abgabe und Entgegennahme aller die Versicherungsverträge betreffenden Willenserklärungen. Hierzu zählen auch die Abgabe und Entgegennahme von einseitig rechtsgestaltenden Willenserklärungen zum Zweck des Abschlusses, der Änderung sowie der Kündigungen von Versicherungsverträgen
        </li>
      </ol>
    </div>
    <div class="agreement-page">
      <ol>
        <li>
          die Abgabe von Wissenserklärungen und Informationen zu Versicherungsverträgen (z.B. Anzeigen zur Erfüllung von Obliegenheiten) gegenüber Versicherern und sonstigen Dritten, soweit es zur Erfüllung des Maklermandats erforderlich ist
        </li>
        <li>
          das Führen des Post- und Schriftverkehrs für den Mandanten mit Versicherern und sonstigen Dritten, soweit es zur Erfüllung des Maklermandats erforderlich ist
        </li>
        <li>
          die Entgegennahme von vertragsbezogenen Informationen im Sinne des § 7 VVG, die das jeweilige Versicherungsunternehmen dem Mandant als Versicherungsnehmer vor Vertragserklärung zu übergeben hat. Hierzu zählen insbesondere Allgemeine und Besondere Bedingungen, Produktinformationsblätter und Verbraucherinformationen
        </li>
        <li>
          die Geltendmachung der Versicherungsleistungen aus betreuten bzw. vermittelten Versicherungsverhältnissen ohne die Entgegennahme von Leistungen
        </li>
        <li>
          die sonstige Mitwirkung bei der Schadensregulierung
        </li>
        <li>
          die Erteilung von Untervollmachten an andere Versicherungsmakler oder Finanzdienstleister, insbesondere Maklerpools
        </li>
      </ol>
      <p>
        Vorgenannte Vollmacht gilt auch für den Fall, dass ein Versicherungsvertrag nicht durch GetSafe vermittelt wurde. Sie gilt auch für einen eventuellen Rechtsnachfolger von GetSafe. Der Mandant stimmt durch diese Erklärung einer Bestandsfreigabe und/oder -übertragung seiner Versicherungsverträge auf GetSafe zu.
      </p>
      <p>
        GetSafe ist nicht verpflichtet, von der Bevollmächtigung nach eigenem Ermessen Gebrauch zu machen.
      </p>
      <p>
        GetSafe ist von den Beschränkungen des § 181 BGB (Insichgeschäft) befreit.
      </p>
      <p>
        Das Mandat ist unbefristet erteilt und kann vom Mandanten jederzeit durch Nachricht an GetSafe in der App, schriftlich (per Post, E-Mail oder Telefax) oder telefonisch widerrufen werden. Wird die Voll-macht widerrufen, bleibt GetSafe soweit zur Vornahme aller Rechtshandlungen befugt, die für die Wahrung Ihrer Interessen geboten sind, bis der Mandant einen neuen Verwalter benannt hat oder ein Dritter im Auftrag des Mandanten die Übernahme der Verwaltung anzeigt.
      </p>
    </div>
    <div class="agreement-page">
      <h4>
        Mitteilung des Nutzers der App über die Vollmachtserteilung an die Versicherer
      </h4>
      <p>
        Der Nutzer der GetSafe App setzt hiermit die Versicherer sowie sonstige Dritte in Kenntnis über die Erteilung der Vollmacht. Versicherer und sonstige Dritte in diesem Sinne sind nur diejenigen, denen gegenüber der Nutzer der App GetSafe als Versicherungsmakler des Mandanten zur Abgabe von Willenserklärungen bevollmächtigt ist. Hierzu erklärt er:
      </p>
      <div>
        <p>
          [Name des Nutzers · Straße des Nutzers · Postleitzahl und Ort des Nutzers]
        </p>
        <p>
          [Adresse der jeweiligen Versicherungsgesellschaft]
        </p>
      </div>
      <p class="text-right padding-top">
        [Datum]
      </p>
      <p>
        Sehr geehrte Damen und Herren,
      </p>
      <p>
        hiermit informiere ich Sie darüber, dass ich die Plan Forward GmbH, Bahnhofstr. 9-13, 69115 Heidelberg (Vermittlerregisternummer: D-4V95-B0VXG-67) als Versicherungsmakler bevollmächtigt habe.
      </p>
    </div>
    <div class="agreement-page">
      <h4 class="padding-top">
        <strong>Maklervollmacht</strong>
      </h4>
      <div class="row padding-none-horizontal">
        <div class="col padding-none-left">
          <h5>
            <strong>Mandant:</strong>
          </h5>
          [Name des Nutzers]<br />[Straße des Nutzers]<br />[Postleitzahl und Ort des Nutzers]
        </div>
        <div class="col padding-none-left">
          <h5>
            <strong>Versicherungsmakler:</strong>
          </h5>
          Plan Forward GmbH<br />Bahnhofstraße 9-13<br />69115 Heidelberg
        </div>
      </div>
      <p class="padding-vertical">
        Diese Vollmacht umfasst
      </p>
      <ol>
        <li>
          die uneingeschränkte aktive und passive Vertretung des Mandanten gegenüber den jeweiligen Versicherern einschließlich der Abgabe und Entgegennahme aller die Versicherungsverträge betreffenden Willenserklärungen. Hierzu zählen auch die Abgabe und Entgegennahme von einseitig rechtsgestaltenden Willenserklärungen zum Zweck des Abschlusses, der Änderung sowie der Kündigungen von Versicherungsverträgen
        </li>
        <li>
          die Abgabe von Wissenserklärungen und Informationen zu Versicherungsverträgen (z.B. Anzeigen zur Erfüllung von Obliegenheiten) gegenüber Versicherern und sonstigen Dritten, soweit es zur Erfüllung des Maklermandats erforderlich ist
        </li>
        <li>
          das Führen des Post- und Schriftverkehrs für den Mandanten mit Versicherern und sonstigen Dritten, soweit es zur Erfüllung des Maklermandats erforderlich ist
        </li>
        <li>
          die Entgegennahme von vertragsbezogenen Informationen im Sinne des § 7 VVG, die das jeweilige Versicherungsunternehmen dem Mandant als Versicherungsnehmer vor Vertragserklärung zu übergeben hat. Hierzu zählen insbesondere Allgemeine und Besondere Bedingungen, Produktinformationsblätter und Verbraucherinformationen
        </li>
      </ol>
    </div>
    <div class="agreement-page">
      <ol>
        <li>
          die Geltendmachung der Versicherungsleistungen aus von betreuten bzw. vermittelten Versicherungsverhältnissen ohne die Entgegennahme von Leistungen
        </li>
        <li>
          die sonstige Mitwirkung bei der Schadensregulierung
        </li>
        <li>
          die Erteilung von Untervollmachten an andere Versicherungsmakler oder Finanzdienstleister, insbesondere Maklerpools
        </li>
      </ol>
      <p>
        Die vorgenannte Vollmacht gilt auch für den Fall, dass ein Versicherungsvertrag nicht durch die Plan Forward GmbH vermittelt wurde. Sie gilt auch für einen eventuellen Rechtsnachfolger.
      </p>
      <p>
        Ich stimme durch diese Erklärung einer Bestandsfreigabe und/oder -übertragung meiner Versicherungsverträge auf die Plan Forward GmbH zu.
      </p>
      <p>
        Die Plan Forward GmbH ist nicht verpflichtet, von der Bevollmächtigung nach eigenem Ermessen Gebrauch zu machen. Sie ist von den Beschränkungen des § 181 BGB (Insichgeschäft) befreit.
      </p>
      <div class="row padding-none-horizontal">
        <div class="col text-center">
          <p>
            <strong><small>Kunde<br />("Mandant")</small></strong>
          </p>
        </div>
        <div class="col text-center">
          <p>
            <strong><small>Plan Forward GmbH<br />("Versicherungsmakler")</small></strong>
          </p>
        </div>
      </div>
      <div class="row padding-none-horizontal">
        <div class="col text-center">
          [Unterschrift des Kunden]
        </div>
        <div class="col text-center">
          <img class="img-responsive" src="img/signature_christian.png" />
        </div>
      </div>
      <div class="row padding-none-horizontal">
        <div class="col text-center">
          <p>
            [ Name des Kunden, Datum, Uhrzeit]
          </p>
        </div>
        <div class="col text-center">
          <p>
            Christian Wiens, Geschäftsführer
          </p>
        </div>
      </div>
      <h4>
        Übermittlungsauftrag
      </h4>
      <p>
        Der Nutzer der App beauftragt hiermit GetSafe, seine Erklärung zur Inkenntnissetzung der Versicherer unter Ergänzung von Name und Anschrift des Mandanten, von Name und Anschrift der betreffenden Versicherung, Datum, Uhrzeit und IP-Adresse sowie mit dem Zusatz „Name des Mandanten“ als Erklärung des Nutzers in Textform an die Versicherer und sonstige Dritte zur Inkenntnissetzung über die Vollmacht zu übermitteln. Versicherer und sonstige Dritte in diesem Sinne sind nur diejenigen, denen gegenüber GetSafe als Versicherungsmakler des Mandanten zur Abgabe von Willenserklärungen bevollmächtigt ist.
      </p>
    </div>
  </ion-content><ion-footer-bar align-title="center" class="bar-calm"><a class="title" ng-click="closePoaModal()">Weiter</a></ion-footer-bar></ion-modal-view>
