<ion-view cache-view="false" title="Neues angebot einholen"><ion-content class="light-bg padding-very-large-top text-center">
    <div class="padding padding-very-large-top">
      <i class="icomoon icomoon-check icon icon-very-large balanced"></i>
      <h4 class="grey padding-top">
        Vielen Dank für deine Anfrage!
      </h4>
      <p>
        Wir werden die Angebote am Markt für dich prüfen und melden uns mit einer Empfehlung bei dir.
      </p>
    </div>
  </ion-content></ion-view><ion-footer-bar align-title="center" class="bar-calm" keyboard-attach=""><a class="title button-cta" id="buy-product-consultation-success" ng-click="goToNext()">Zurück zur übersicht</a></ion-footer-bar>
