<ion-view cache-view="false" title="Weitere Verträge verwalten"><ion-content class="padding-large light-bg">
    <div class="padding-very-large-top text-center">
      <h4 class="text-center grey">
        Wer ist Versicherungsnehmer?
      </h4>
      <p class="padding-large-bottom">
        Hast du die Versicherung abgeschlossen oder eine andere Person, z.B. Partner oder Elternteil?
      </p>
      <button class="button button-block button-calm button-cta" ng-click="goToInsurerSelect()">Läuft auf mich</button><button class="button button-block button-calm button-cta" ng-click="goToRelativesImport()">Läuft auf andere Person</button>
    </div>
  </ion-content></ion-view>
