<ion-modal-view><ion-header-bar align-title="left" class="bar-calm">
    <div class="buttons">
      <button class="button icon icomoon icomoon-cross" ng-click="closeTermsModal()"></button>
    </div>
    <h1 class="title">
      GetSafe-Partnerfunktion
    </h1>
  </ion-header-bar><ion-content class="light-bg padding">
    <p>
      Informationen zur GetSafe-Partnerfunktion
    </p>
    <p>
      Die Partnerfunktion der App ermöglicht es Ehe- oder Lebenspartnern, gegenseitig Einsicht in die bei GetSafe verwalteten Versicherungsverträge zu gewähren. Voraussetzung hierfür ist, dass beide Partner Nutzer von GetSafe sind und in die Einsicht durch den Partner einwilligen.
    </p>
    <p>
      Zu diesem Zweck beauftragt jeder Partner GetSafe, die Angaben zu einzelnen Versicherungsverträgen in die App des ausgewählten Partners einzustellen. Hierzu erteilen die Partner ihre Einwilligung zur Weitergabe ihrer Vertragsdaten an den ausgewählten Partner durch GetSafe. Stimmt ein Partner der Einsicht durch den anderen nicht zu, kann die Partnerfunktion nicht genutzt werden. Gleiches gilt nach Widerruf der Einwilligung in die Nutzung der Partnerfunktion.
    </p>
    <p>
      Ist die Partnerfunktion aktiviert, werden die Vertragsdaten des Partners in die eigene App übertragen. Eine Änderung, Aufhebung oder Kündigung der Verträge des Partners sowie die Abgabe von Willenserklärungen mit Wirkung für und gegen den Partner ist über die Partnerfunktion nicht möglich.
    </p>
    <p>
      Die Einwilligung in die Weitergabe von Vertragspartnern kann jederzeit formlos gegenüber GetSafe widerrufen werden.
    </p>
  </ion-content></ion-modal-view>
