<ion-view cache-view="false" title="Weitere Verträge verwalten"><ion-content class="light-bg padding-very-large-top text-center">
    <div class="padding padding-very-large-top">
      <i class="icomoon icomoon-clock icon icon-very-large calm"></i>
      <h4 class="grey padding-top">
        Diese Funktion ist bald verfügbar!
      </h4>
      <p class="padding">
        Unser Service-Team wird sich bei dir melden und nach einer schnellen Lösung suchen.
      </p>
    </div>
  </ion-content></ion-view><ion-footer-bar align-title="center" class="bar-calm" keyboard-attach=""><a class="title button-cta" id="relative-success-confirm" ng-click="goToProducts()">Zurück zur Übersicht</a></ion-footer-bar>
