<div class="padding-very-large-top">
  <h5 class="padding-large-horizontal grey text-center">
    {{definition.title}}<i class="icomoon icomoon-question icon-help" ng-click="showBackdrop()" ng-show="has_description"></i>
  </h5>
  <div class="option-picker-container padding">
    <label class="option-picker" ng-class="{&#39;checked&#39;: opt.checked}" ng-repeat="opt in definition.select_options track by $index"><input ng-click="toggle($index, opt[1])" ng-model="opt.checked" type="checkbox">{{opt[0]}}</input></label>
  </div>
</div>
