<div class="padding-horizontal padding-very-large-top text-center">
  <h5 class="grey border-stable-bottom margin-none padding-large-bottom">
    {{definition.title}}<i class="icomoon icomoon-question icon-help" ng-click="showBackdrop()" ng-show="has_description"></i>
  </h5>
</div>
<ul class="list list-table list-transparent margin-none">
  <li class="item item-checkbox text-left" ng-class="{&#39;checked&#39;: opt.checked}" ng-repeat="opt in definition.select_options track by $index">
    <label class="checkbox"><input ng-click="updateMultiselect()" ng-model="opt.checked" type="checkbox" /></label>{{opt[0]}}
  </li>
</ul>
