<ion-view title="Kontakt"><ion-content class="light-bg padding">
    <h4 class="accordion-intro border-stable-bottom margin-none">
      Hast du eine Frage? Kontaktiere uns für weitere Informationen
    </h4>
    <div class="list">
      <a class="item" ng-click="sendEmail()" ng-controller="EmailCtrl">E-Mail</a><a class="item" ui-sref="intro-faq">FAQ</a><a class="item item-icon-right" href="tel:+4962218710050">GetSafe-Experten anrufen<i class="icon icon-small icomoon icomoon-telephone"></i></a>
    </div>
  </ion-content></ion-view>
