<ion-view title="Impressum &amp; Erstinformation"><ion-content class="light-bg padding">
    <p>
      GetSafe ist ein Produkt der<br />Plan Forward GmbH<br />Waldhofer Straße 102<br />D-69123 Heidelberg
    </p>
    <p>
      Telefon: 06221 - 87100-87<br />Telefax: 06221 - 87100-88<br />E-Mail: kunden@getsafe.de
    </p>
    <p>
      Geschäftsführer: Christian Wiens, Marius Blaesing<br />Handelsregister: HRB 718171
    </p>
    <p>
      Erlaubnis nach § 34 d GewO erteilt durch die zuständige Aufsichtsbehörde:<br />Industrie- und Handelskammer Rhein-Neckar<br />L 1, 2, 68161 Mannheim
    </p>
    <p>
      Telefon: 0621 1709-0<br />Telefax: 0621 1709-100<br />E-Mail: ihk@rhein-neckar.ihk24.de
    </p>
    <p>
      Register-Nr.: D-4V95-B0VXG-67<br />Auskunft unter: www.vermittlerregister.info
    </p>
    <p>
      Registerführende Stelle nach § 11 a GewO:<br />Deutscher Industrie- und Handelskammer (DIHK) e. V.<br />Breite Straße 29<br />10178 Berlin
    </p>
    <p>
      Telefon: 0-180-500 585-0<br />(14 Cent / Min. aus dem dt. Festnetz, höchstens 42 Cent / Min. aus Mobilfunknetzen)
    </p>
    <h4 class="padding-top grey">
      Über uns (Erstinformation gem. § 11 Versicherungsvermittlungsverordnung)
    </h4>
    <p>
      Anbieter der Nutzungsangebote und Vertragspartner für die Erbringung von Leistungen von GetSafe ist die
    </p>
    <p>
      Plan Forward GmbH<br />Waldhofer Straße 102<br />D-69123 Heidelberg
    </p>
    <p>
      Telefon: 06221 - 87100-87<br />Telefax: 06221 - 87100-88<br />E-Mail: kontakt@getsafe.de
    </p>
    <p>
      Geschäftsführer: Christian Wiens, Marius Blaesing<br />Handelsregister: HRB 718171<br />Vermittlerregisternummer: D-4V95-B0VXG-67
    </p>
    <p>
      Erlaubnis nach § 34d GewO erteilt durch die zuständige Aufsichtsbehörde:<br />Industrie- und Handelskammer Rhein-Neckar<br />L 1, 2, 68161 Mannheim
    </p>
    <p>
      Wir sind als unabhängiger Versicherungsmakler tätig, stehen wirtschaftlich auf Ihrer Seite und vertreten Ihre Interessen.
    </p>
    <p>
      Wir sind als Versicherungsmakler mit Erlaubnis gemäß § 34d Abs. 1 GewO bei der Industrie- und Handelskammer Rhein-Neckar in L 1, 2, 68161 Mannheim zugelassen und mit der Vermittlernummer D-4V95-B0VXG-67 bei Deutscher Industrie- und Handelskammertag (DIHK) e.V., Breite Straße 29, 10178 Berlin registriert. Dies kann überprüft werden per Telefon 0 180/ 50 05 85 0 (14 Cent/Min aus dem dt. Festnetz, höchstens 42 Cent/Min aus Mobilfunknetzen) oder unter www.vermittlerregister.info.
    </p>
    <p>
      Wir besitzen keine direkte oder indirekte Beteiligung von über zehn Prozent an den Stimmrechten oder am Kapital eines Versicherungsunternehmens. Kein Versicherungsunternehmen oder Mutterunternehmen eines Versicherungsunternehmens besitzt eine direkte oder indirekte Beteiligung von über zehn Prozent an Stimmrechten bzw. am Kapital von uns.
    </p>
    <p class="padding-large-bottom">
      Wir erbringen unsere Leistungen in Übereinstimmung mit den gesetzlichen Vorschriften, insbesondere mit dem Versicherungsvertragsgesetz (VVG).
    </p>
  </ion-content></ion-view>
