<ion-view class="product-view" title="Versicherungen"><ion-nav-buttons><button class="button button-icon" id="menu-toggleMenuBtn" ng-click="toggleMenu()"><i class="icon icomoon icomoon-menu"></i>
      <div class="chat-badge badge badge-light" ng-if="has_new_chat_messages">
        {{unread_messages_count}}
      </div>
    </button></ion-nav-buttons><ion-content padding="true"><ion-refresher on-refresh="refresh()" pulling-text="Aktualisiere..."></ion-refresher>
    <div class="row">
      <div class="col col-50">
        <teaser-panel gkv-in-check="{{ hasGkvInCheck() }}" has-partner="{{ partners.length &gt; 0 }}" user-insurance-types="{{ getUserInsuranceTypes() }}"></teaser-panel>
        <div ng-if="insurances.length &gt; 0">
          <h4 class="products-heading">
            Deine Versicherungen
          </h4>
          <ng-include src="&#39;views/products/products-current1.html&#39;"></ng-include>
        </div>
        <div ng-repeat="partner in partners track by $index">
          <partner-products-list partner-index="{{$index}}"></partner-products-list>
        </div>
        <h4 class="products-heading" ng-hide="noInsurers()">
          Wird geprüft
        </h4>
        <ng-include src="&#39;views/products/products-checked.html&#39;"></ng-include>
        <p class="padding padding-very-large-bottom text-center dark" ng-hide="noInsurers() || hideSubText">
          Deine Versicherungsverträge werden eingeholt.
          Das kann bis zu vier Wochen dauern.
          Wir informieren dich, sobald du deine Vertragsinformationen in der App findest.
        </p>
        <div class="padding-top padding-bottom" ng-if="noInsurers()"></div>
      </div>
    </div>
  </ion-content></ion-view><add-plus-button tracking="plusButtonTrackers"></add-plus-button>
<div ng-if="isBackdropVisible">
  <div class="guide-backdrop"></div>
  <div class="guide-tip-floating-button">
    Füge weitere Verträge hinzu oder schließe neue Versicherungen bei über 100 Gesellschaften ab.<img class="guide-tip-icon" src="img/icon-tip.png" />
  </div>
  <div class="guide-list-visible padding">
    <ion-list type="list-inset margin-none"><ion-item class="item item-thumbnail-left item-product item-light flex flex-content-center"><img ng-src="{{insurers[0].data.public_logo_url}}" />
        <p>
          {{insurers[0].progress.progress_status}}
        </p>
        <div class="item-progressbar {{progressAlert(insurers[0]) &amp;&amp; &#39;item-progressbar-assertive&#39; || &#39;&#39;}}" ng-if="insurers[0].progress" style="width: {{progressLevelInPercent(insurers[0])}};"></div>
        <p>
          <small>{{insurers[0].data.title}}</small>
        </p>
      </ion-item></ion-list>
    <div class="guide-tip-product-checked">
      Deine Verträge werden eingeholt. Wir informieren dich, sobald die Einrichtung abgeschlossen wurde.<img class="guide-tip-icon" src="img/icon-tip.png" />
    </div>
  </div>
  <a class="guide-button-close" ng-click="hideBackdrop()"><i class="icomoon icomoon-cross"></i></a>
</div>
